body {
   background: black;
}

div.jsterm {
   background: black;
   font-family: monospace;
   font-size: 16px;
   color: #E0E0E0;
   width: 1000px;
   word-wrap: break-word;
}

div.jsterm .user {
   color: #73E234;
   font-weight: bold;
}

div.jsterm .dir, .link {
   color: #729FBD;
   font-weight: bold;
}

div.jsterm .exec {
   color: #73E234;
   font-weight: bold;
}

div.jsterm .img {
   color: #95709F;
   font-weight: bold;
}

.jsterm a {
   color: #E0E0E0;
}
